.combo-panel.panel-body{height:auto}
.fileUpload{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
	opacity: 0.01;
	width: 103px;
	height: 26px;
	margin-left: -106px;
	vertical-align: middle;
}